*{
    margin: 0;
    padding: 0;    
    box-sizing: border-box;
 
}

.navigation{
    height: 12vh;
    width: 100vw;
    background-image: radial-gradient( circle farthest-corner at 10% 20%,  rgba(100,43,115,1) 0%, rgba(4,0,4,1) 90% );
    color: white;
    display: flex;
    justify-content: space-around;
     flex-wrap: nowrap;
    
}

.fa-newspaper{
    font-size: 3em;
    display: inline;
}
 
.logo-text h1{
    display: inline;
    font-size: 3em;
}

.search{
    margin-top: 1.3em;
    color: white;
}

#search-bar{
    height:2.3em;
    border-radius: 10px;
}
.fa-magnifying-glass{
    font-size: 1.4em;
}

.fa-magnifying-glass:hover{
    cursor: pointer;
}

#options{
    padding-top: 1.5em;
}

#options a{
    margin: 1em;
    font-size: 1.5em;
    cursor: pointer;

}

#options a:hover{
    color:aqua;
}

body{
    background-color: rgba(95, 93, 108, 0.612);
    
}

#container{
    display: flex;
    flex-wrap: wrap;

    height: 100vh;
}

#container div{
    height: 70%;
    width: 31%;
    border: 1px solid black;
    margin: 0.8em;
    padding: 0.5em;
    background-color: bisque;
    overflow: hidden;
    transition: all 0.5s;
}


#container div h2{
    background-color: black;
    color: white;
}

#container div:hover{
    transform: scale(1.05);
}
 
 